.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    &__title-link {
        font-size: 5.4rem;
        text-transform: uppercase;
        color: #000;
        letter-spacing: 3px;
    }
    &__links {
        display: flex;
        justify-content: flex-end;
    }
    &__link-container {
        margin-right: 25px;
        &:last-child {
            margin-right: 0px;
        }
    }
    &__link {
        font-size: 1.3rem;
        text-transform: uppercase;
        &--active {
            color: #000;
        }
    }
}


// Media Query

@media (max-width: 768px) {
    .header-main {
        flex-direction: column;
        &__logo {
            margin-bottom: 25px;
        }
        &__title-link {
            letter-spacing: 1.5px;
        }
    }
}

@media (max-width: 480px) {
    .header-main {
        &__title {
            text-align: center;
        }
        &__title-link {
            line-height: 1;
        }
    }
}